html {
	height: 100%;
	font-family: Lato, Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	height: calc(100% - 1px); /* less 1px to avoid scrollbar due to rounding errors */
	display: flex;
	flex-direction: column;
}

#header-container {
	flex: 0 0;
	color: #ffffff;
	margin: 2px;
	background: #a3c7c1;
	border-radius: 5px;
}

#diagram-container {
	flex: 1 1;
	background: #ffffff;
}

#diagram-container div {
	width: 100%;
	height: 100%;
}

h1 {
	margin: 8px;
	font-size: 15px;
	font-weight: bold;
}

code {
	font-family: Consolas, Inconsolata, monospace;
	font-weight: normal;
}
